
<div class="ui-g">
  <div class="ui-g-4"></div>
  <div class="ui-g-4"><h1>Авторизация</h1></div>
</div>

<div class="ui-g">
  <div class="ui-g-6">
    <h2>Номер телефона</h2>
  </div>
  <div class="ui-g-6">
      <input pInputText 
      type="text" 
      prefix="+7 "
       mask="(000) 000 00 00" 
       [(ngModel)]="auth.phone" 
       (ngModelChange)="validateInput()"
       #phone="ngModel"
       required
       minlength=10/>
       <pre *ngIf="phone.errors" class="error">{{ phone.errors | json}}</pre>
  </div>

  <div class="ui-g-6">
    <h2>Пароль</h2>
  </div>
  <div class="ui-g-6">
      <input 
      pPassword 
      required 
      type="password" 
      [(ngModel)]="auth.password" 
      minlength="8" 
      (ngModelChange)="validateInput()"
      #password="ngModel"/>
      <pre *ngIf="password.errors" class="error">{{ password.errors | json }}</pre>
  </div>
</div>

<div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
        <p-button label="Войти" (onClick)="enterAccount()" [disabled]="!isAuthorized"></p-button>
    </div>
  </div>